In [ ]:
"""Welcome to Streamlit. Check out our demo in your browser.

  Local URL: http://localhost:8501
  Network URL: http://192.168.0.3:8501

  Ready to create your own Python apps super quickly?
  Head over to https://docs.streamlit.io

  May you create awesome apps!


  For better performance, install the Watchdog module:

  $ xcode-select --install
  $ pip install watchdog"""

In [11]:
import streamlit as st
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv('/Users/saidkardic/Desktop/Wine Ratings per Countries')

In [13]:
df

              name  users_count  wines_count  avg_wine_rating
0           Israël       150549         5435            4.500
1        Allemagne      2549989       164533            4.500
2       États-Unis     12273684       204060            4.491
3         Moldavie        13583         5055            4.480
4          Hongrie       102235        16605            4.473
5   Afrique du Sud       269649        30857            4.459
6        Australie      1022965        90954            4.458
7           France      5973301       422503            4.447
8          Espagne      2264396       102662            4.444
9         Portugal      1123535        39847            4.436
10           Chili       326757        41191            4.431
11          Italie      4270717       274658            4.430
12       Argentine       629532        36121            4.417
13        Roumanie       228185         6841            4.400
14           Grèce        95693         9581            4.400
15          Suisse      1601799        33656            4.350
16         Croatie        64223         5880            4.300

In [14]:
st.write('Hello')

In [15]:
st.line_chart(df)

DeltaGenerator()